# Operating system files
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Temporary files
*.tmp
*.bak
*.swp

# IDE/editor files
.vscode/
.idea/

# R
.Rhistory
.RData
.Ruserdata
